@media screen and (max-width: 768px) {
  .carlo-png {
    top: 120px;
    left: 3%;
    /* position: fixed; */
    position: absolute;

    width: 95%;

    z-index: -1;
  }

  .logo-e-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
  }

  .goe-logo {
    position: absolute;
    left: 30%;

    width: 160px;
  }

  .h1-top {
    color: black;
    font-family: "Adumu Regular", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 2px;
  }

  .ciclo-infos {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    padding: 20px 10px 5px 5px;
    margin: 0;
  }

  .ciclo-infos li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: white;
  }

  .ciclo-infos-2 {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }

  .ciclo-infos-2 li {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }

  .tema-txt {
    position: absolute;
    right: -7px;
    margin-top: 30px;
    
    text-align: left;
    color: white;

    width: 37.5%;
  }

  .infos-div {
    border-radius: 50px 50px 5px 5px;

    background-color: rgb(26, 26, 27);
    width: 95%;
    height: 250px;

    z-index: 1;
  }

  body {
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: scroll;

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    margin: 0px;
  }

  /* section {
    margin-bottom: 300px;
  } */

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(26, 26, 27);

    border-radius: 5px;
    padding: 0px 10px;

    z-index: 2;

    margin-top: -30%;
    margin-bottom: 10px;
    width: 90%;
  }

  header {
    padding: 0px;
    margin-bottom: 330px;
  }

  nav {
    position: absolute;
    top: -10px;
    right: 10px;

    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  nav ul {
    flex-direction: column;
  }

  footer {
    position: relative;
    width: 95%;
    text-align: center;
  }

  .links-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    text-decoration: none;
  }

  .links-nav img:hover {
    transform: scale(1);
    opacity: 1;

    filter: none;
  }

  .links-nav img:active {
    transform: scale(0.8);

    opacity: 0.8;
    filter: invert(100%);
    /* filter: invert(45%) sepia(80%) saturate(2200%) hue-rotate(180deg)
      brightness(95%) contrast(100%); */
  }

  .p-link {
    display: none;
    text-decoration: underline;
  }

  .goe-img-pc {
    display: none;
  }

  .goe-img-mb {
    display: block;
    border-radius: 10px;

    width: 100%;
  }

  .img-max-div-ex1,
  .img-max-div-ex2,
  .p-info-ex1 {
    display: none;
  }

  .endereco img {
    width: 8%;
    height: auto;
  }

  .div-footer p {
    font-size: 14px;
  }

  .br-mb {
    display: block;
  }

  .o-que-e-img {
    max-width: 100%;
  }

  .h2-main {
    text-align: left;
    font-size: 28px;

    margin-bottom: 8px;
    margin-top: 5px;
  }

  /* .art-encontros {
    background-color: rgb(0, 0, 0, 0.9);
    padding: 20px;

    z-index: 2;
  } */

  .encontros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .box-encontros {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .local-img {
    max-width: 100%;
  }

  .encontros ul {
    padding-left: 5px;
  }

  .encontros ul li {
    font-size: 18px;
  }

  .h2-ajustado {
    font-size: 24px;
  }
}
