@media screen and (max-width: 768px) {
  .carlo-png {
    top: 270px;
    left: 10px;
    position: fixed;

    width: 380px;

    z-index: -1;
  }

  .a-goe-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: absolute;
    /* position: sticky;
    top: 10px;
    left: 25%; */
  }

  body {
    width: 100%;
    overflow-x: hidden;

    margin: 0px;
  }

  /* section {
    margin-bottom: 300px;
  } */

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(26, 26, 27);

    border-radius: 5px;
    padding: 0px 10px;

    z-index: 2;

    margin-bottom: 30px;
    width: 90%;
  }

  header {
    padding: 0px;
    margin-bottom: 500px;
  }

  nav {
    position: relative;

    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  nav ul {
    flex-direction: column;
  }

  footer {
    position: relative;
    width: 90%;
    text-align: center;
  }

  .goe-logo {
    position: relative;
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    text-decoration: none;
  }

  .links-nav img:hover {
    transform: scale(1);
    opacity: 1;

    filter: none;
  }

  .links-nav img:active {
    transform: scale(0.95);

    opacity: 0.8;
    filter: invert(45%) sepia(80%) saturate(2200%) hue-rotate(180deg)
      brightness(95%) contrast(100%);
  }

  .p-link {
    display: block;
    text-decoration: underline;
  }

  .goe-img-pc {
    display: none;
  }

  .goe-img-mb {
    display: block;
    border-radius: 10px;

    width: 100%;
  }

  .img-max-div-ex1,
  .img-max-div-ex2,
  .p-info-ex1 {
    display: none;
  }

  .endereco img {
    width: 8%;
    height: auto;
  }

  .div-footer p {
    font-size: 14px;
  }

  .br-mb {
    display: block;
  }

  .o-que-e-img {
    max-width: 100%;
  }

  .h2-main {
    text-align: left;
    font-size: 28px;

    margin-bottom: 8px;
    margin-top: 5px;
  }

  /* .art-encontros {
    background-color: rgb(0, 0, 0, 0.9);
    padding: 20px;

    z-index: 2;
  } */

  .encontros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }

  .box-encontros {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .local-img {
    max-width: 100%;
  }

  .encontros ul {
    padding-left: 5px;
  }

  .encontros ul li {
    font-size: 18px;
  }
}
