/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Cardo, Cal Sans, Montserrat, Poppins */

@font-face {
  font-family: "Adumu Regular";
  src: url("/assets/fonts/Adumu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Jesus, Maria e José, a nossa família Vossa é! */

/* Animações */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Sagrado Coração de Jesus, fazei do nosso coração semelhante ao Vosso! */

.carlo-png {
  top: 25%;
  left: 50% 50%;
  position: fixed;

  width: 450px;

  z-index: -1;
}

/* Configurações gerais (html, body, tags...n) */
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/assets/images/background-paper-blue.jpg");
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  background-size: 100% 100%;

  /* background: linear-gradient(-45deg, #5281ee, #1d3473, #202f49, #2367d5);
  background: linear-gradient(-45deg, #4166bd, #13234d, #101824, #1c53ac);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite; */

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0;
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;

  text-align: justify;
}

/* section {
  margin-bottom: 700px;
} */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main {
  width: 75%;

  background-color: rgb(26, 26, 27, 0.5);

  border-radius: 5px;
  padding: 0px 10px;

  z-index: 2;

  margin-top: 10px;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

p {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
}

nav {
  position: fixed;
  top: -10px;
  right: 10px;
}

/* Nav */
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 0;

  list-style-type: none;
}

.links-nav img {
  width: 40px;

  transition: 0.1s ease-in-out;
}

.links-nav img:hover {
  transform: scale(1.05);
  opacity: 0.8;

  /* filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(200deg) brightness(100%) contrast(100%); */
  filter: invert(45%) sepia(80%) saturate(2200%) hue-rotate(180deg)
    brightness(95%) contrast(100%);
}

.links-nav img:active {
  transform: scale(0.95);

  filter: none;

  /* filter: invert(50%) sepia(100%) saturate(2000%) hue-rotate(200deg) brightness(100%) contrast(100%); */
  /* filter: invert(45%) sepia(80%) saturate(2200%) hue-rotate(180deg) brightness(95%) contrast(100%); */
}

.p-link {
  display: none;
}
/*  */

.goe-logo {
  position: fixed;
  top: 10px;
  left: 0px;

  width: 100px;
}

.h2-main {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
}

.iframe-endereco {
  display: none;
  margin: 200px auto;

  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px white;
}

.goe-info-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.goe-img-mb {
  display: none;
  border-radius: 10px;

  width: 100%;
  /* height: 300px; */
}

.goe-img-pc {
  display: block;
  border-radius: 10px;

  width: 100%;
  /* height: 300px; */
}

.goe-info-div-ex1 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.goe-img-pc-ex1 {
  border-radius: 10px;

  width: 100%;
  /* height: 300px; */
}

.img-max-div-ex1 {
  max-width: 400px;
  max-height: 500px;

  margin-right: 30px;

  overflow: hidden;
  border-radius: 10px;
}

.img-max-div {
  max-width: 800px;
  max-height: 500px;

  overflow: hidden;
  border-radius: 10px;
}

.p-info-goe {
  width: 50%;
}

/* FOOTER */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* position: relative;
  bottom: 10px; */
  margin-bottom: 10px;

  width: 100%;
}

footer p {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, sans-serif;
  font-size: 0.75rem;
  color: white;

  margin: 0.1rem 0;
}

.br-mb {
  display: none;
}

.o-que-e {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.o-que-e-img {
  max-width: 500px;
  height: auto;

  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
}

.endereco {
  display: flex;
  justify-content: center;
  align-items: center;
}

.endereco img {
  width: 3%;
  height: auto;
}

.encontros {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.box-encontros {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.local-img {
  max-width: 90%;
  height: auto;

  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.2);
}

.encontros ul {
  list-style-type: none;
}

.encontros ul li {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;

  display: flex;
  flex-direction: row;

  font-size: 18px;
}

.encontros-icon {
  width: 20px;
  padding-right: 3px;
}

.strong-encontros {
  padding-left: 5px;
}

/* Para animação de fade-in */
.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.8s ease-out;
}

.hidden-m {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.8s ease-out;
}

.hidden-h {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 0.8s ease-out;
}

.hidden-f {
  opacity: 0;
  transform: translateY(5px);
  transition: transform 0.8s ease-out;
}

.move-in {
  transform: translateY(0);
}

.fade-in {
  /* animation: fadeIn 1s ease-in-out; */
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-in-2 {
  animation: fadeIn 2.5s ease-in-out;
}
/*  */

/* Para animação de scroll */

/* .show-on-scroll {
  opacity: 1;
  transform: translateY(0);
} */
/*  */
